.aboutme{
    display: flex;
}

.image-aboutme {
    width: 100%;
}

.div-uno-aboutme {
    width: 50%;
    padding: 20px;
    margin:20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.div-uno-aboutme h1 {
    margin-bottom: 60px;
    margin-top: 20px;
    font-family: 'Cambay';
}

.div-uno-aboutme p {
    font-family: 'Metrophobic';
}

.div-dos-aboutme {
    width: 58%;
}


@media screen and (max-width: 914px ){
   .aboutme{
    flex-direction: column;
   }
   .div-uno-aboutme{
    width:100%;
   } 
   .div-dos-aboutme{
    width:100%;
   }

}