.contenedor-experiencia {
    background: url(../assets/arco-dos.jpg) no-repeat center;
    min-height: 70vh;
    padding: 40px;
    padding-top: 150px;
    padding-bottom: 150px;

}

.contenedorcito-icons{
    display:flex;
    justify-content:center;
    margin: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}