.contenedor-experiencia {
    background: url(../assets/arco-dos.jpg) no-repeat center;
    min-height: 70vh;
    padding: 40px;
    padding-top: 150px;
    padding-bottom: 130px;

}

.contenedorcito-icons{
    display:flex;
    justify-content:center;
    margin: 20px;
}

.card {
  margin-bottom: 40px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-family: 'Cambay',sans-serif;
}

.card-text {
  font-family: 'Metrophobic', sans-serif;
}

.div-skills {
  display: flex;
  padding: 15px;
  justify-content: center;
  
}

.skill{
  background-color: #bb5182;
  color:#ffff;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  font-family: 'Metrophobic', sans-serif;
}

.skill:hover {
  background-color:orange;
}

.textgrande {
  font-size: 12px;
  padding: 13px;
}

/*laptop*/
@media (min-width: 769px )and (max-width : 1000px) {
  .skill{
    width: 90px;
    height: 90px;
    font-size: 11px;
  }
  
}