.work{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.title-work{
    text-align: center;
    margin:40px;
    padding: 20px;
}
.projects{
    display: flex;
    justify-content: center;
}
.compu{
    width: 100%;
    margin: 10px;
}

